---
---

@import "{{ site.theme }}";

.page-header {
  
    background-image: linear-gradient( to right, #0000FF, #FF0000);

head {
h1 {
  color: white;
  text-align: center;
}
}

body{
    h2 {
      color: purple;
      font-family: Times New Roman;
  }
p {
   background-color: green;
  opacity: 0.3;
  color: black; 
  font-family: bookman-old;
  font-size: 20px;
}
  ol{
     background-color: green;
  opacity: 0.3;
    color: black;
    font-family: bookman-old;
    font-size: 20px;
  }
  
}
