---
---

@import "{{ site.theme }}";

img {
  height: 360px;
  width: 800px;
    }

head{
h1 {
  color: white;
  text-align: center;
}
}

body{
p {
  color: black; 
  font-family: bookman-old;
  font-size: 20px;
}
  ol{
    color: black;
    font-family: bookman-old;
    font-size: 20px;
  }
  
}
